<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="./vue.min.js"></script>

    <title>Techno</title>
  </head>
  <body>
    <div id="app">
      <section class="modal" v-if="modal" @click="modal = false">
        <div class="modal-container">
          <div class="modal-img">
            <img :src="produto.img" :alt="produto.nome" />
          </div>
          <div class="modal-dados">
            <span>{{ produto.preco }}</span>
            <h1>{{ produto.nome }}</h1>
            <p>{{ produto.descricao }}</p>
          </div>
          <div class="modal-reviews">
            <ul>
              <li v-for="review in produto.reviews">
                <h3>{{ review.nome }} | {{ review.estrelas }} Estrelas</h3>
                <p>{{ review.descricao }}</p>
              </li>
            </ul>
          </div>
          <button class="modal-btn" @click="adicionarProduto()">
            Adicionar
          </button>
          <button @click="modal = false" class="fechar-modal">X</button>
        </div>
      </section>

      <section class="items">
        <div
          class="item"
          v-for="item in produtos"
          :key="item.id"
          @click="getProduto(item.id)"
        >
          <img :src="item.img" :alt="item.nome" class="img-item" />
          <div>
            <h1>{{ item.nome }}</h1>
            <span>{{ item.preco | precoItem}}</span>
          </div>
        </div>
      </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
